node_modules
**/node_modules
.git
.github
.turbo
**/.turbo
dist
**/dist
.output
**/.output
*.tsbuildinfo
.env
.env.*
!.env.example
coverage
playwright-report
test-results
output
terraform
**/.terraform
*.md
apps/web/e2e
**/*.test.ts
**/*.test.tsx
